body {
    height: 100vh;
}

#game-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 500px;
    width: 290px;
    margin: auto;
    box-shadow: 0px 27px 37px #c6bdbd;
    border-radius: 20px;
    margin-top: 80px;

}

#container {
    display: flex;
    margin-right: 60px;
}

#player1 {
    color: #3D88EA;
    font-size: 240px;
    font-weight: 1000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0px 27px 37px #3D88EA;
    margin-top: 18px;
    margin-bottom: 25px;
    transform: rotate(-45deg);
    height: 100px;
    width: 100px;
    margin-right: 200px;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 20px;

}

#player2 {
    width: 32px;
    height: 32px;
    border: 40px solid rgba(249, 113, 50, 1);
    border-radius: 50%;
    margin-top: 144px;
    box-shadow: 0px 27px 37px rgba(249, 113, 50, 1);
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 70px;
    right: 60px;
}

p {
    text-align: center;
    color: #3D88EA;


}

#game-container button {
    width: 130px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #3D88EA;
    color: white;
    box-shadow: 0px 10px 40px #3D88EA;

}

#game-container button:hover{
    background-color: white;
    color: #3D88EA;
}

#sign-container {
    margin: auto;
    height: 500px;
    width: 290px;
    color: rgb(77, 76, 76);
    margin-top: 80px;
    overflow: hidden;
    box-shadow: 0px 27px 37px #c6bdbd;
    border-radius: 20px;
    display: none;
}

#container-el {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 195px;
}

#sign-container h3 {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7f8D99;
}

#sign-container input {
    border: 0px;
    border-bottom: 1px solid #3D88EA;
    font-size: 13px;
    margin-top: 20px;
}

#sign-container input::placeholder {
    font-size: 15px;

}

#sign-btn {
    width: 130px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-top: 170px;
    background-color: #fff;
    color: #7f8D99;
    box-shadow: 0px 17px 57px #8897a5;

}


.circle {
    position: relative;
    bottom: 150px;
    left: 210px;
}

.cross {
    color: #3D88EA;
    font-size: 225px;
    font-weight: 1000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0px 27px 37px #3D88EA;
    transform: rotate(-45deg);
    position: relative;
    bottom: 170px;
    right: 140px;
}
