body {
    height: 100vh;
}

/* 1st page */

#game-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 500px;
    width: 290px;
    margin: auto;
    box-shadow: 0px 27px 37px #c6bdbd;
    border-radius: 20px;
    margin-top: 80px;
}

#container {
    display: flex;
    margin-right: 60px;

}

#player1 {
    color: #3D88EA;
    font-size: 240px;
    font-weight: 1000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0px 27px 37px #3D88EA;
    margin-top: 18px;
    margin-bottom: 25px;
    transform: rotate(-45deg);
    height: 100px;
    width: 100px;
    margin-right: 200px;
    position: relative;
    bottom: 20px;

}

#player2 {
    width: 32px;
    height: 32px;
    border: 40px solid rgba(249, 113, 50, 1);
    border-radius: 50%;
    margin-top: 144px;
    box-shadow: 0px 27px 37px rgba(249, 113, 50, 1);
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 70px;
    right: 60px;
}

p {
    text-align: center;
    color: #3D88EA;
}

#game-container button {
    width: 130px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #3D88EA;
    color: white;
    box-shadow: 0px 10px 40px #3D88EA;

}

#game-container button:hover {
    background-color: white;
    color: #3D88EA;
}

/* ---------------------------------------------------1st End--------------------------------------------------  */

/* 2nd page */


#sign-container {
    margin: auto;
    height: 500px;
    width: 290px;
    color: rgb(77, 76, 76);
    margin-top: 80px;
    overflow: hidden;
    box-shadow: 0px 27px 37px #c6bdbd;
    border-radius: 20px;
    display: none;
}

#container-el {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 195px;
}

#sign-container h3 {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7f8D99;
}

#sign-container input {
    border: 0px;
    border-bottom: 1px solid #3D88EA;
    font-size: 13px;
    margin-top: 20px;
}

#sign-container input::placeholder {
    font-size: 15px;

}

#sign-btn {
    width: 130px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-top: 170px;
    background-color: #fff;
    color: #7f8D99;
    box-shadow: 0px 17px 57px #8897a5;

}

.circle {
    position: relative;
    bottom: 150px;
    left: 210px;
}

.cross {
    color: #3D88EA;
    font-size: 225px;
    font-weight: 1000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0px 27px 37px #3D88EA;
    transform: rotate(-45deg);
    position: relative;
    bottom: 170px;
    right: 140px;
}

/* ----------------------------------------------2nd End------------------------------------------------------  */

/* 3rd Page  */

#chose-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 500px;
    width: 290px;
    margin: auto;
    box-shadow: 0px 27px 37px #c6bdbd;
    border-radius: 20px;
    margin-top: 80px;
    display: none;

}

#chose-container #container-symbol {
    position: relative;
    top: 20px;

}

#chose-container button {
    width: 130px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-top: 110px;
    background-color: #fff;
    color: #7f8D99;
    box-shadow: 0px 17px 57px #8897a5;
}

#chose-container p {
    margin-top: 40px;
    color: black;
    font-weight: bold;
    position: relative;
    top: 60px;
}

#radio1 {
    position: relative;
    margin-right: 70px;
}

#radio2 {
    position: relative;
    margin-left: 30px;
}

#player3 {
    color: #3D88EA;
    font-size: 240px;
    font-weight: 1000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0px 27px 37px #3D88EA;
    margin-top: 18px;
    margin-bottom: 25px;
    transform: rotate(-45deg);
    height: 100px;
    width: 100px;
    position: relative;
    right: 100px;
    opacity: 0.5;

}

#player4 {
    width: 32px;
    height: 32px;
    border: 40px solid rgba(249, 113, 50, 1);
    border-radius: 50%;
    box-shadow: 0px 27px 37px rgba(249, 113, 50, 1);
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 50px;
    left: 150px;
    opacity: 0.5;
}

/* ----------------------------------------------3rd End------------------------------------------------------  */

/* 4th page  */


#localPlayer-container {
    margin: auto;
    height: 500px;
    width: 290px;
    color: rgb(77, 76, 76);
    margin-top: 80px;
    overflow: hidden;
    box-shadow: 0px 27px 37px #c6bdbd;
    border-radius: 20px;
    display: none;

}

#localPlayer-container input {
    border: 0px;
    border-bottom: 1px solid #3D88EA;
    font-size: 13px;
    margin-top: 20px;
}

#localPlayer-container::placeholder {
    font-size: 15px;

}

#player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    bottom: 150px;
}

#local-btn {
    width: 130px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-top: 170px;
    background-color: #fff;
    color: #7f8D99;
    box-shadow: 0px 17px 57px #8897a5;

}

/* ----------------------------------------------4th End------------------------------------------------------  */

.main-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 500px;
    width: 290px;
    margin: auto;
    box-shadow: 0px 27px 37px #c6bdbd;
    border-radius: 20px;
    margin-top: 80px;
    background-color: gray;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 6vw);
    grid-template-rows: repeat(3, 6vw);
    margin-top: 180px;
}

.box {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.br-0 {
    border-right: 0;
}
.bl-0 {
    border-left: 0;
}
.bt-0 {
    border-top: 0;
}
.bb-0 {
    border-bottom: 0;
}